name: NodeJS CI/CD Pipeline

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Set up NodeJS
      uses: actions/setup-node@v4
      with:
        node-version: "20"

    - name: Install Dependencies
      run: |
        node -v
        npm -v
        npm install --no-audit --no-fund

    - name: SonarQube Scan
      uses: sonarsource/sonarqube-scan-action@v2
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
      with:
        args: >
          -Dsonar.projectKey=nodeapp
          -Dsonar.sources=.

    - name: Create TAR Artifact
      run: tar -czf nodeapp.tar.gz *

    - name: Upload to Nexus (RAW Repository)
      env:
        NEXUS_USER: ${{ secrets.NEXUS_USER }}
        NEXUS_PASS: ${{ secrets.NEXUS_PASS }}
        NEXUS_HOST: ${{ secrets.NEXUS_HOST }}
      run: |
        curl -v -u $NEXUS_USER:$NEXUS_PASS \
          --upload-file nodeapp.tar.gz \
          $NEXUS_HOST/repository/nodejs/nodeapp.tar.gz

    - name: Build Docker Image
      run: docker build -t ${{ secrets.DOCKER_USER }}/nodeapp:latest .

    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USER }}
        password: ${{ secrets.DOCKER_PASS }}

    - name: Push Docker Image
      run: docker push ${{ secrets.DOCKER_USER }}/nodeapp:latest


  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
    - name: Deploy to EC2 + NGINX
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          echo "Stopping old container..."
          docker stop nodeapp || true
          docker rm nodeapp || true

          echo "Pulling latest Docker image..."
          docker pull ${{ secrets.DOCKER_USER }}/nodeapp:latest

          echo "Running new container on port 5006..."
          docker run -d --name nodeapp -p 5006:5006 ${{ secrets.DOCKER_USER }}/nodeapp:latest

          echo "Reloading NGINX..."
          sudo systemctl reload nginx

          echo "Deployment completed successfully!"
